<template>
  <v-app>
    <term-list-navigation-drawer v-if="drawer"/>
    <toolbar @toolbarSideIconClick="drawer = !drawer"/>

    <!-- Snackbar for notifications -->
    <v-snackbar
      :timeout="3000"
      :top="true"
      v-model="snackbar"
    >
      {{ notification }}
      <v-btn flat color="pink" @click.native="snackbar = false">Sulge</v-btn>
    </v-snackbar>

    <!-- Main content -->
    <v-content>
      <router-view :key="$route.fullPath"></router-view>
    </v-content>

  </v-app>
</template>

<script>
import { API } from './api'
import NavigationDrawer from './components/TermListNavigationDrawer'
import Toolbar from './components/Toolbar'
import { bus } from './bus.js'
export default {
  data () {
    return {
      // For snackbar
      snackbar: false,
      // This initial value means that the drawer is hidden on small screens by default
      drawer: this.$vuetify.breakpoint.smAndUp,
      notification: ''
    }
  },
  created () {
    bus.$on('showNotification', (notification) => { this.showNotification(notification) })
    this.getUserData()
  },
  components: {
    'term-list-navigation-drawer': NavigationDrawer,
    'toolbar': Toolbar
  },
  methods: {
    showNotification (notification) {
      this.notification = notification
      this.snackbar = true
    },
    getUserData () {
      API.getUser()
        .then((response) => {
          this.$store.dispatch('storeUser', response.data)
        })
        .catch((error) => {
          if (!(error.response && error.response.status === 403)) {
            // 403 is an expected response code:
            // it will be returned if a not logged in user accesses the page.
            // Any other error code is unexpected.
            throw error
          }
        })
    }
  }
}
</script>
