{% extends "admin/change_form.html" %}
{% block object-tools-items %}
  {{ block.super }}
  <li>
    <a class="viewsitelink" id="redirect-to-lexicon" href="{{ original.get_absolute_url }}">Vaata leksikonis</a>
  </li>
{% endblock %}
