<template>
  <div>
    <v-layout mt-3><v-flex><h2 class="form-header">Lisa uus kommentar</h2></v-flex></v-layout>
    <template v-if="!user">
      <v-layout row>
        <v-flex xs12 sm4>
          <v-text-field
            name="name"
            label="Nimi"
            id='name'
            v-model='name'
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm4>
          <v-text-field
            name="email"
            label="E-mail"
            id='email'
            hint="Ei kuvata avalikult"
            v-model='email'
            required
          ></v-text-field>
        </v-flex>
      </v-layout>
    </template>
    <v-layout row>
      <v-flex xs12 sm6>
        <v-textarea
          name="message"
          label="Sõnum"
          id='message'
          v-model='message'
          required
          @keydown="handleKeyEventForSubmit($event)"
        ></v-textarea>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <v-btn :disabled='!isFormValid' @click.native='addComment' color="primary" id='submit-comment'>Lisa kommentaar</v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { API } from '../api'
export default {
  props: ['termID'],
  data () {
    return {
      name: '',
      email: '',
      message: ''
    }
  },
  computed: {
    user () {
      return this.$store.getters.user
    },
    isFormValid () {
      // If the user is logged in, 'name' and 'eamil' are not needed,
      // because they will be taken from the user object in the backend.
      if (this.user && this.message !== '') {
        return true
      } else {
        return this.name !== '' && this.email !== '' && this.message !== ''
      }
    },
    isEmailValid () {
      // eslint-disable-next-line
      var re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i
      return re.test(this.email)
    }
  },
  methods: {
    addComment () {
      if (!this.isEmailValid) {
        if (!this.user) { // A logged in user does not need to specify email address
          alert('Sisesta kehtiv email.')
          return
        }
      }
      const comment = {
        term: this.termID,
        name: this.name,
        email: this.email,
        message: this.message
      }
      API.addComment(comment).then(() => {
        comment.preview = true
        comment.timestamp = new Date() // Backend will create timestamp by itself, this is for preview only
        if (this.user) {
          comment.name = this.user.username
        }
        this.$emit('commentAdded', comment)
        // this.term.comment_set.push(comment)
      }).catch(() => {
        alert('Tekkis viga. Sinu kommentaar ei salvestunud.')
      })
      this.name = ''
      this.email = ''
      this.message = ''
    },
    handleKeyEventForSubmit (e) {
      if ((e.metaKey || e.ctrlKey) && e.keyCode === 13) {
        if (this.isFormValid) {
          this.addComment()
        }
      }
    }
  }
}
</script>

<style scoped>
  .form-header {
    font-weight: normal
  }

</style>
