<template>
  <vue-markdown :source="parsedContent"/>
</template>

<script>
import VueMarkdown from 'vue-markdown'
import { parseEdhammaMarkdown } from '@/lib/edhamma-markdown'
export default {
  props: {
    source: {
      type: String,
      required: true
    }
  },
  components: {
    'vue-markdown': VueMarkdown
  },
  computed: {
    parsedContent () { return parseEdhammaMarkdown(this.source) }
  }
}
</script>
