<template>
  <div>
    <v-container>

      <!-- Logo and title -->
      <v-layout row class='mt-5'>
        <v-flex class='text-xs-center'>
          <div id="logo-box">
            <img src="../assets/DharmaWheel.svg" alt="logo" width='150'>
            <span id='logoText'>Paali-eesti sõnaraamat</span>
          </div>
        </v-flex>
      </v-layout>

      <!-- Search -->
      <search-box></search-box>

      <!-- Introduction -->
      <v-layout row wrap class='mt-2'>
        <v-flex class='text-xs-center'>
          <p class='intro'>Budistliku õpetuse edasiandmiseks loodud mahukas tekstikorpus kätkeb endas keerukat terminoloogiat, mille tõlkimine
            emakeelde on läbi aegade olnud oluliseks sammuks Buddha õpetuse juurdumisel kohalikus kultuuriruumis.
            Käesolev sõnaraamat on mõeldud nii budistliku kirjanduse lugejatele kui tõlkijatele, aidates leida
            terminitele selgitusi ja tõlkevasteid ning panustades ühtse eestikeelse terminoloogia väljakujunemisse.
          </p>
          <p v-if="user && user.is_staff" class="intro">
            Siin on <a href="#/liivakast">liivakast</a>, kus saab katsetada <i>Edhamma Markdown</i>'i süntaksit.
          </p>
        </v-flex>
      </v-layout>

    </v-container>

    <v-footer inset app>
      <div style="margin: auto">
        <p style="text-allign: center">See on avatud lähtekoodiga projekt. Vaata lähtekoodi <a
          href="https://gitlab.com/edhamma/edhamma">siit</a>.</p>
      </div>
    </v-footer>

  </div>
</template>

<script>
    import Search from '@/components/Search.vue'

    export default {
  components: {
    'search-box': Search
  },
  computed: {
    user () {
      return this.$store.getters.user
    }
  }
}
</script>

<style scoped>
  .intro {
    font-size: 1.3em;
  }
  .btn {
    min-width: 40px;
  }
  #logo-box {
    display: inline-block;
  }
  img {
    vertical-align: middle;
  }
  #logoText {
    display: inline-block;
    vertical-align: middle;
    color: #cd5a07;
    font-size: 3.2em;
  }
</style>
