<template>
  <v-container grid-list-xs>
    <v-layout row wrap>
      <v-flex xs12>
        <h1>Liivakast</h1>
        <p>Siin saad katsetada <i>Edhamma Markdown</i>'i süntaksit.</p>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 md6>
        <v-textarea v-model="text"></v-textarea>
      </v-flex>
      <v-flex xs12 md6>
        <edhamma-markdown :source="text"></edhamma-markdown>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import EdhammaFlavouredMarkdown from './EdhammaFlavouredMarkdown'

export default {
  data () {
    return {
      text: `Kirjuta **siia** kasutades *Edhamma Markdown*'i süntaksit.
*Edhamma Markdown* toetab tavalist *Markdown* süntaksit,
millega saab tutvuda [siin](https://miaolz123.github.io/vue-markdown/).
Lisaks saab kastada ka konkreetselt selle sõnaraamatu jaoks loodud võimalusi.
Siin on mõned näited:

1. **Link:** [tekst, mida soovid kasutajale näidata](https://edhamma.pythonanywhere.com/#/)
1. **Link teisele terminile:** [tekst, mida soovid kasutajale näidata]<termin>`
    }
  },
  components: {
    'edhamma-markdown': EdhammaFlavouredMarkdown
  }
}
</script>
