<template>
<div>
  <!-- For Toolbar -->
  <v-layout row v-if="location === 'Toolbar'">
    <v-flex>
<!--      TODO The two autocomplete tags  (this and the one below) are identical, they must be DRYed-->
      <v-autocomplete
        :loading="loading"
        :items="searchOptions"
        :search-input.sync="searchInput"
        @change="goToTerm"
        return-object
        label="Otsi"
        no-filter
        hide-no-data
        item-text="lookup">
      ></v-autocomplete>
    </v-flex>
    <v-flex>
      <v-checkbox label="paali" v-model="searchOriginalLang" color="#f08618"></v-checkbox>
    </v-flex>
    <v-flex>
      <v-checkbox label="eesti" v-model="searchTranslationLang" color="#f08618"></v-checkbox>
    </v-flex>
  </v-layout>
  <!-- For Home -->
  <v-layout class='mt-4' v-else>
    <v-flex xs12 sm8 offset-sm2>
      <v-layout>
        <v-flex xs11>
          <v-autocomplete
            :loading="loading"
            :items="searchOptions"
            :search-input.sync="searchInput"
            @change="goToTerm"
            return-object
            label="Otsi"
            no-filter
            hide-no-data
            item-text="lookup"
            ></v-autocomplete>
        </v-flex>
        <v-flex>
          <v-checkbox label="paali" v-model="searchOriginalLang" color="#f08618"></v-checkbox>
        </v-flex>
        <v-flex>
          <v-checkbox label="eesti" v-model="searchTranslationLang" color="#f08618"></v-checkbox>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</div>
</template>

<script>
import { API } from '../api.js'
export default {
  data () {
    return {
      searchInput: '',
      searchOriginalLang: true,
      searchTranslationLang: true,
      loading: false,
      searchOptions: []
    }
  },
  props: ['location'],
  computed: {
    excludeLang () {
      if (this.searchOriginalLang && this.searchTranslationLang) return ''
      if (!this.searchOriginalLang) return 'pl'
      if (!this.searchTranslationLang) return 'est'
    }
  },
  watch: {
    searchInput () {
      this.getSearchOptions()
    },
    searchOriginalLang (newV, oldV) {
      // Both search languages cannot be disabled at the same time
      if (!newV) {
        this.searchTranslationLang = true
      }
      this.getSearchOptions()
    },
    searchTranslationLang (newV, oldV) {
      if (!newV) {
        this.searchOriginalLang = true
      }
      this.getSearchOptions()
    }
  },
  methods: {
    async getSearchOptions () {
      this.loading = true
      const response = await API.getSearchResults(this.searchInput, this.excludeLang)
      try {
        this.searchOptions = response.data
      } catch {
        this.searchOptions = []
      }
      this.loading = false
    },
    goToTerm (selectedTerm) {
      this.$router.push({ name: 'Term', params: { routerTerm: selectedTerm.term } })
    }
  }
}
</script>
