<template>
  <div id="term-metadata">
    <h1 id="original-word">{{ term.original_word }}</h1>
    <p v-if="term.get_word_class_display && term.get_gender_display">({{ term.get_word_class_display }}, {{ term.get_gender_display }})</p>
    <p v-else-if="term.get_word_class_display">({{ term.get_word_class_display }})</p>
    <p v-else-if="term.get_gender_display">({{ term.get_gender_display }})</p>
  </div>
</template>

<script>
export default {
  props: ['term']
}
</script>
