<template>
  <v-navigation-drawer
    clipped
    mobile-break-point="0"
    v-model="drawer"
    app
    width=200
    class="brown lighten-5"
  >
  <small-progress-circular v-if="upperLoading"/>
    <div v-if="error">Terminite laadimine ebaõnnestus. Kontrolli oma internetiühendust.</div>
    <v-list>
      <v-list-tile v-if="firstTerm != 0">
        <v-list-tile-title v-if="termList">
          <a @click="loadMoreTermsUpwards" style="color: black">Vaata eelmisi termineid</a>
        </v-list-tile-title>
      </v-list-tile>
      <v-list-tile v-for="term in termList" :key="term" :id="term">
        <v-list-tile-title :id="term + 'list-tile-title'">
          <router-link :to="'/terminid/' + term" class="term-list-item">
            <span class="term-list-item" :id="term">{{term}}</span>
          </router-link>
        </v-list-tile-title>
      </v-list-tile>
      <v-list-tile v-if="termList && !lastTermReached">
        <v-list-tile-title >
          <a @click="loadMoreTermsDownwards" style="color: black">Vaata järgmisi termineid</a>
        </v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { API } from '../api'
import { notNegative } from '../utils'
import SmallProgressCircular from './SmallProgressCircular'
export default {
  components: {
    'small-progress-circular': SmallProgressCircular
  },
  data () {
    return {
      lowerLoading: false,
      upperLoading: false,
      error: false,
      termList: [],
      firstTerm: null,
      lastTerm: null,
      drawer: null,
      lastTermReached: false,
      currentTerm: ''
    }
  },
  async mounted () {
    const currentTerm = this.$route.params.routerTerm
    if (currentTerm) {
      await this.handleCurrentTerm(currentTerm)
    } else {
      await this.onHomepage()
    }
  },
  watch: {
    async $route (to, from) {
      if (to.params.routerTerm) {
        await this.handleCurrentTerm(to.params.routerTerm)
      } else {
        await this.onHomepage()
      }
    }
  },
  methods: {
    async handleCurrentTerm (currentTerm) {
      console.assert(currentTerm, '`currentTerm` must be present if this method is called.')
      try {
        const rankingResponse = await API.getTermRanking(currentTerm)
        const ranking = rankingResponse.data.ranking
        const beginning = notNegative(ranking - 50)
        await this.fetchTermList(beginning)
      } catch (e) {
        console.error(e)
        this.error = true
      }
      autoScrollToViewedTerm(currentTerm)
    },
    async onHomepage () {
      await this.fetchTermList(0)
      removeHighlightFromPreviousTerm()
      const nDrawer = document.querySelector('#app > div > aside')
      nDrawer.scrollTop = 0
    },
    /**
     * Used to fetch the first portion of the term list
     * starting with the term which ranking is `beginning`
     * Also used to reset values regarding the old term.
     */
    async fetchTermList (beginning) {
      try {
        this.lastTermReached = false
        this.error = false
        this.lowerLoading = true
        this.firstTerm = beginning // TODO This only applies on the homepage
        this.lastTerm = beginning + 100
        const termListApiResponse = await API.getTermList(beginning, 100)
        this.termList = termListApiResponse.data // This line erases the old therm list
        this.lowerLoading = false
      } catch (error) {
        this.error = true
        console.log(error)
      } finally {
        this.lowerLoading = false
      }
    },
    async loadMoreTermsDownwards () {
      try {
        this.error = false
        this.lowerLoading = true
        const response = await API.getTermList(this.lastTerm + 1, 100)
        this.lastTerm += 100
        this.termList = this.termList.concat(response.data)
        this.lowerLoading = false
        if (response.data.length < 100) {
          this.lastTermReached = true
        }
      } catch (error) {
        this.error = true
        console.log(error)
      } finally {
        this.lowerLoading = false
      }
    },
    async loadMoreTermsUpwards () {
      try {
        this.error = false
        this.upperLoading = true
        // Usually we fetch 100 extra terms, but if there are less left, we need to fetch a different number
        // otherwise there will be duplicates
        let numOfTermsToFetch = 100
        if (this.firstTerm < 101) {
          // If the first term we have is nr 43, we want to fetch only 42
          numOfTermsToFetch = this.firstTerm - 1
        }
        const response = await API.getTermList(notNegative(this.firstTerm - 100), numOfTermsToFetch)
        this.firstTerm -= 100
        this.termList = response.data.concat(this.termList)
        this.upperLoading = false
      } catch (error) {
        this.error = true
        console.log(error)
      } finally {
        this.upperLoading = false
      }
    }
  }
}
/**
 * @param currentTerm is empty on Homepage
 */
function autoScrollToViewedTerm (currentTerm) {
  if (!currentTerm) { return }
  const selectedElement = document.getElementById(currentTerm)
  removeHighlightFromPreviousTerm()
  if (!selectedElement) { return }
  highlightSelectedElement(selectedElement)
  const nDrawer = document.querySelector('#app > div > aside')
  nDrawer.scrollTop = selectedElement.offsetTop - (nDrawer.clientHeight / 2 - selectedElement.clientHeight / 2)
}
const SELECTED_TERM_CLASS = 'selected-term'
function removeHighlightFromPreviousTerm () {
  const previousTermList = document.getElementsByClassName(SELECTED_TERM_CLASS)
  console.assert(previousTermList.length <= 1, 'There can be no more than one selected term at a time.')
  const previousTerm = previousTermList[0]
  if (previousTerm) {
    previousTerm.classList.remove(SELECTED_TERM_CLASS)
  }
}
function highlightSelectedElement (selectedElement) {
  selectedElement.classList.add(SELECTED_TERM_CLASS)
}
</script>

<style scoped>
.term-list-item {
  color: #cd5a07;
  text-decoration: none
}
::-webkit-scrollbar {
    display: none;
}
</style>

<style>
.selected-term div a span{
  color: navy  !important;
  font-weight: 900;
}
</style>
