<template>
  <div>
    <!-- Loading -->
    <v-container v-if="loading">
      <v-layout>
          <v-flex class="text-xs-center mt-5">
            <v-progress-circular
              :size="70"
              color="primary"
              indeterminate
              :width="6"
            ></v-progress-circular>
          </v-flex>
      </v-layout>
    </v-container>
    <!-- Error -->
    <v-container v-else-if="error">
      <v-layout>
          <v-flex class="text-xs-center mt-5 grand-error">
            <b>Viga andmete laadimisel</b><br>
            Andmete laadimisel ilmnes viga,<br>
            proovi hiljem uuesti või<br>
            võta meiega ühendust.
          </v-flex>
      </v-layout>
    </v-container>
    <!-- Main -->
    <v-container v-else>
      <!-- term metadata -->
      <v-layout>
          <v-flex>
            <term-metadata :term="term"></term-metadata>
          </v-flex>
          <v-flex class="text-xs-right">
              <v-btn v-if="user && user.is_staff" color="secondary" @click="redirectToAdminChangePage()">Muuda</v-btn>
          </v-flex>
      </v-layout>
      <!-- term meanings -->
      <v-layout v-for='(meaning, i) in term.meaning_set' :key='i' class='mt-3'>
          <v-flex>
              <h3><template v-if="term.meaning_set.length > 1">{{ i + 1}}. </template>{{ meaning.word_translation}}<template v-if="meaning.root"> [{{ meaning.root_language }} <i>{{ meaning.root }}</i><template v-if="meaning.root_description"> ({{ meaning.root_description}})</template>]</template></h3>
              <template v-if="meaning.eng"><p>eng {{ meaning.eng }}</p></template>
              <edhamma-markdown :source="meaning.explanation"></edhamma-markdown>
              <template v-if="meaning.further || meaning.example_set.length != 0">
                  <v-expansion-panel>
                    <v-expansion-panel-content>
                        <div slot="header" id="further-explanation">Täpsemalt</div>
                        <v-card>
                            <v-card-text style="background-color: #f4f1ef">
                              <edhamma-markdown :source="meaning.further"></edhamma-markdown>
                              <template v-if="meaning.example_set.length != 0"><h4>Tõlkenäited:</h4></template>
                              <div>
                                  <p v-for='example in meaning.example_set' :key='example.original'>
                                      <i>{{ example.original }}</i><br>
                                      {{ example.translation }}
                                  </p>
                              </div>
                            </v-card-text>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
              </template>
          </v-flex>
      </v-layout>
      <!-- Term definition in the Pali Text Society dictionary -->
      <template v-if="term.def_in_PTS_dict">
        <v-layout>
          <v-flex>
            <v-expansion-panel>
                <v-expansion-panel-content>
                    <div slot="header" id="pls-header">Selgitus <i>Pali Text Society</i> sõnaraamatus</div>
                    <v-card>
                        <v-card-text style="background-color: #f4f1ef">
                            <p>{{ term.def_in_PTS_dict }}</p>
                        </v-card-text>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>
        </v-layout>
      </template>
      <!-- Comments-->
      <h2 class='comment-section-header mt-4'>{{numberOfApprovedComments}} kommentaar<template v-if="numberOfApprovedComments != 1">i</template></h2>
      <hr>
      <template v-for='(comment, i) in term.comment_set'>
        <div v-if="comment.approved == true || comment.preview" class='mt-2' :key='"c" + i' :id='"c" + i'>
          <p><b>{{ comment.author_name }}:</b> {{ comment.message}}<br>{{ comment.timestamp | date }}</p>
        </div>
      </template>
      <!-- Add comment form-->
      <hr>
      <comment-form :termID="term.id" @commentAdded="showComment($event)"></comment-form>
    </v-container>
  </div>
</template>

<script>
import { API } from '../api'
import EdhammaFlavouredMarkdown from './EdhammaFlavouredMarkdown'
import CommentForm from './CommentForm'
import TermMetaData from './TermMetaData'
export default {
  props: ['routerTerm'],
  async created () {
    try {
      const response = await API.getTerm(this.routerTerm)
      this.term = response.data
    } catch (e) {
      this.error = true
    } finally {
      this.loading = false
    }
  },
  data () {
    return {
      term: { comment_set: [] },
      loading: true,
      error: false
    }
  },
  components: {
    'comment-form': CommentForm,
    'edhamma-markdown': EdhammaFlavouredMarkdown,
    'term-metadata': TermMetaData
  },
  computed: {
    user () {
      return this.$store.getters.user
    },
    numberOfApprovedComments () {
      var count = this.term.comment_set.filter(comment => comment.approved)
      return count.length
    }
  },
  methods: {
    showComment (comment) {
      comment.author_name = comment.name
      this.term.comment_set.push(comment)
    },
    redirectToAdminChangePage () {
      window.location.replace(this.term.admin_change_url)
    }
  }
}
</script>

<style scoped>
  .comment-section-header {
    font-weight: normal
  }
  /* Styles term's further information expansion-panel */
  .v-expansion-panel {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .theme--light .v-expansion-panel .v-expansion-panel__container, .application .theme--light.v-expansion-panel .v-expansion-panel__container {
    background-color: inherit;
  }
  #further-explanation {
    color: #cd5a07; /* primary */
  }
  #pls-header {
    color: #cd5a07; /* primary */

  }
</style>

<style>
  /* Styles term's further information expansion-panel */
  .expansion-panel__header {
    padding-left: inherit;
  }
  .grand-error > b {
    color: var(--v-primary-base);
    font-size: large;
  }
</style>
