<template>
  <v-toolbar
  :clipped-left="true"
  app
  fixed
  >
    <v-toolbar-side-icon
      @click="$emit('toolbarSideIconClick')"
      v-show="$vuetify.breakpoint.mdAndDown"
    ></v-toolbar-side-icon>
    <v-toolbar-title class='hidden-sm-and-down'>
      <router-link to='/' tag='span' style='cursor: pointer'>
        <v-avatar>
          <img src="../assets/DharmaWheel.svg" alt="dhamma-wheel">
        </v-avatar>
        Paali-eesti sõnaraamat
      </router-link>
    </v-toolbar-title>

      <!-- Spacer -->
      <div class="hidden-sm-and-down" style="width: 85px;"></div>
      <!-- Search -->
      <search-box v-if="!isHomepage" location="Toolbar"></search-box>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat id="user-btn" v-if="!user" @click="redirectToLoginPage()">Logi sisse</v-btn>
        <v-menu
          v-else
          open-on-click
          nudge-bottom="55"
        >
        <v-btn
          class="hidden-xs-only"
          flat
          id="user-btn"
          slot="activator"
        >Tere, {{user.username}}!</v-btn>
        <v-btn
          class="hidden-sm-and-up"
          flat
          id="user-btn"
          slot="activator"
          small
          fab
          icon
        ><v-icon>more_vert</v-icon></v-btn>
          <v-list>
          <v-list-tile class="hidden-sm-and-up">
            <v-list-tile-title><i>{{user.username}}</i></v-list-tile-title>
          </v-list-tile>
          <v-list-tile
            @click="logOut()"
          >
            <v-list-tile-title>Logi välja</v-list-tile-title>
          </v-list-tile>
        </v-list>
        </v-menu>
      </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import { DJANGO_LOGIN_URL, DJANGO_LOGOUT_URL } from '../constants'
import Search from '@/components/Search.vue'

export default {
  components: {
    'search-box': Search
  },
  computed: {
    user () {
      return this.$store.getters.user
    },
    isHomepage () {
      const path = this.$route.path
      return path === '/'
    }
  },
  methods: {
    redirectToLoginPage () {
      window.location.replace(DJANGO_LOGIN_URL)
    },
    logOut () {
      window.location.replace(DJANGO_LOGOUT_URL)
    }
  }
}
</script>
